/* ---------- Header ---------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 0 3rem 0 6rem;
  z-index: var(--z-fixed);
}

.header-profile {
  height: 80px;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: end;
}

.user-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.user-container:hover .dropdown-menu {
    display: flex;
}

.header-img {
  width: 40px;
  height: 40px;
  order: 1;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  top: 75px;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: none;
  flex-direction: column;
  width: 160px;
  justify-content: center;
  align-items: center;
}

.dropdown-menu a {
  width: 100%;
  padding: 10px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: black;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.user-name {
    margin: 0;
}

/* ---------- Navigation menu ---------- */

.nav {
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: var(--container-color);
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: var(--z-fixed);
  transition: .4s;
  left: 0;
  padding: 1.2rem 1.5rem 0;
  width: 68px; /* Reduced navbar */
}

.nav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none; /* For mozilla */
}

/* For Google Chrome and others */
.nav-container::-webkit-scrollbar {
  display: none;
}

.nav-logo {
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.nav-list, 
.nav-items {
  display: grid;
}

.nav-list {
  row-gap: 2.5rem;
}

.nav-items {
  row-gap: 1.7rem;
}

.nav-link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  gap: 6px;
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-icon {
  font-size: 1.3rem;
  margin-right: .5rem;
}

.nav-name {
  padding-left: 10px;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
}

/* Dropdown */
.nav-dropdown {
  overflow: hidden;
  max-height: 21px;
  transition: .4s ease-in-out;
}

.nav-dropdown-collapse {
  background-color: var(--first-color-light);
  border-radius: .25rem;
  margin-top: 1rem;
}

.nav-dropdown-content {
  display: grid;
  row-gap: .5rem;
  padding: .75rem 2.5rem .75rem 1.8rem;
}

.nav-dropdown-item {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.nav-dropdown-item:hover {
  color: var(--first-color);
}

.nav-dropdown:hover {
  max-height: 100rem;
}

/* Navbar expanded */
.nav:hover {
  width: var(--nav-width);
}

.nav:hover+main {
  margin-left: 10rem;
}

/* Visible elements */
.nav:hover .nav-logo-name {
  opacity: 1;
}

.nav:hover .nav-subtitle {
  opacity: 1;
}

.nav:hover .nav-name {
  opacity: 1;
}

.nav:hover .nav-dropdown-icon {
  opacity: 1;
}

/* Element opacity */
.nav-logo-name, 
.nav-name, 
.nav-subtitle, 
.nav-dropdown-icon {
  opacity: 0;
  transition: .3s;
}


/*===== Active link =====*/
.active {
  color: var(--first-color);
}

/* ---------- Métricas ----------*/

.metricas-cima,
.metricas-baixo {
  display: grid;
  gap: 20px;
  margin-top: 1rem;
}

.metricas-cima {
  grid-template-columns: repeat(3, 1fr);
}

.metricas-baixo {
  grid-template-columns: repeat(3, 1fr);
}

.left{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icone-metrica{
  width: 70px;
  height: 70px;
}

.metrica-texto {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.metrica1, .metrica2, .metrica3,
.metrica4, .metrica5, .metrica6 {
  border-radius: 30px;
  box-shadow: 2px 2px 5px hsl(0, 0%, 0.8);
  transition: all .3s ease;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px; /* ou outro valor fixo se quiser alinhamento */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

}

.valor-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: transparent;
}

div .valor{
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.valor.temp {
  opacity: 0.7;
}

.editavel-numero[contenteditable="true"] {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 2px 4px;
  outline: 1px dashed white;
  cursor: text;
}

.sufixo-unidade {
  margin-left: 4px;
  opacity: 0.8;
}


.legenda{
  font-weight: lighter;
  font-size: 16px;
  text-align: center;
}

.metrica1 {
  background-image: linear-gradient(to right, #FBA85B, #C24E4E);
}

.metrica2{
  background-image: linear-gradient(to right, #86A1E5, #392686);
}

.metrica3{
  background-image: linear-gradient(to right, #AB5BFB, #942B90);
}

.metrica4{
  background-image: linear-gradient(to right, #E5FB5B, #59A03F);
}

.metrica5{
  background-image: linear-gradient(to right, #FB5BD8, #952020);
}

.metrica6{
  background-image: linear-gradient(to right, #5BFBC2, #2B536A);
}

/* ---------- Botões de rodar simulação ---------- */

.btn_container {
  display: flex;
  gap: 5px;
}

.run_btn_container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.run_btn {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border: 0px;
  cursor: pointer;
  background-color: #0D6EFD;
}

.run_btn:hover{
  background-color: #0B5ED7;
}

.run_btn_text {
  color: white;
}

.config_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.config_button, .confirm_button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.config_button:hover {
  background-color: #ddd;
  border: 1px solid #ccc;
}

.confirm_button {
  background-color: #28a745;
  color: white;
  font-weight: bold;
}

.confirm_button:hover {
  background-color: #218838;
  border: 1px solid #ccc;
}

.dropdown_sim {
  position: relative;
}

.pause_button {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border: 0px;
  cursor: pointer;
  background-color: #e74c3c;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
}

.pause_button:hover {
  background-color: #c0392b;
}

/* ---------- Botões de data do gráfico ---------- */

.dropdown_content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  z-index: 10;
}

.dropdown_item {
  display: block;
  width: 100%;
  padding: 8px;
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
}

.dropdown_item:hover {
  background-color: #f0f0f0;
}


.button.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
  filter: grayscale(100%);
}

button:hover, .meses:hover{
  background-color: rgba(123, 123, 187, 0.336); 
  transition: .3s;
  border: 0px;
}

.dropdown{
  display: inline-block;
  height: 144px; /* para nao sumir as opções quando quero selecionar alguma de baixo */
}

.dropdown button,
.botao{
    background-color: rgb(255, 255, 255);
    color:var(--first-color);
    min-width: 150px;
    height: 36px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
}

.dropdown .lista {
    display:block;
    color:var(--first-color);
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .mes {
  display:none;
  position:absolute;
  min-width: 100px;
  box-shadow: 2px 2px 5px hsl(0,0%,0.8);
  height:100px;
  overflow:hidden;
  overflow-y:scroll;
}

.dropdown:hover .mes {
  display:block;
}

.botao-1ano {
  width: 150px;
}

.lista:hover {
  background-color: #ad8be057;
}

.botao:active,.meses:active{
  background-color:  #ad8be057;
}

#comment_section {
  margin-top: 10px;
}

#comment_input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

/* ---------- Comentário por data ---------- */

.comment_section {
  display: none;
  min-width: 200px;
  height: 36px;
}

.comment_input {
  width: 100%;
  padding: 10px;
}

.date_comment {
  display: flex;
  gap: 5px;
}

.btn-date-comment {
  font-size: 13px;
}

.btn-delete-date-comment {
  display: flex;
  justify-content: center;
  align-items: center;
}


.delete_date_comment {
  display: none;
  gap: 5px;
}

.btn-confirm-delete {
  display: none;
  justify-content: center;
  background-color: rgb(71, 187, 71);
  color: white;
  min-width: 100px;
  height: 36px;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
}

/* ---------- Comentário geral ---------- */

.gc_container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  width: 100%;
}

.gc_window {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #CECECE;
  width: 100%;
  min-height: 200px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  gap: 10px;
}

.gc_buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.gc_input {
  width: 100%;
  min-height: 100px;
  resize: vertical;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.gc_buttons_and_warning {
    width: 150px;
}

.gc_warning {
    color: green;
}


/* ---------- Charts --------- */

.chart {
  min-width: 1000px;
}

/* TODO: Implementar estilos para telas menores */